body {
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

header {
    display: flex;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/header\ background.png");
    background-position: 85% 15%;
    height: 208px;
    background-color: black;
    
}
.heading{
    width: 550px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.heading h1 {
    font-size: 2.625em;
    color: aliceblue;
    font-weight: bolder;
}

nav a {
    text-decoration: none;
    color: aliceblue;
    font-size: 0.875em;
    font-weight: 700;
}

.search-field {
    margin: -25px auto;
    max-width: 500px;

}
#search-form {
    display: flex;
    width: 100%;
    height: 3em;
    border: 1px solid #D1D5DB;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);

}

#search-form input {
    background-color: white;
    border: none;
    flex-grow: 1;
    background-image: url("https://api.iconify.design/eva:search-outline.svg");
    background-repeat: no-repeat;
    background-position: 15px center;
    background-size: 20px 20px;
    padding: 14px 20px 14px 45px;
    font-size: 1rem;
    color: #374151;
}


#search-form input:focus {
    outline: none;
}

#search-form input:hover{
    background-color: #F3F4F6;
    cursor: pointer;
}

#search-form button {
    background-color: white;
    border: none;
    border-left: 1px solid #D1D5DB;
    font-size: 16px;
    color: #374151;
}
#search-form button:hover {
    background-color: #F3F4F6;
    cursor: pointer;
}

main {
    display: flex;
    height: calc(100vh - 200px);
    justify-content: center;
    align-items: center;
}

.empty {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    font-size: 25px;
    color: #DFDDDD;
    font-weight: 700;
}

.add-section{
    display: flex;
    color: black;
    align-items: center;
    gap: 10px;
}

.main-movies {
    display: grid;
    grid-template-columns: auto auto  auto ;
    place-items: center;
    margin-top: 35px;

}

.movies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    text-align: center;
    flex-wrap: wrap;
    width: 300px;
    height: 90vh;
    margin: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: all 0.3s ease;
    background-color: #fff;
}

.movies:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-color: #ffc000;
}
.movies h2 {
    font-size: medium;
}

.movie-poster {
    width: 300px;
}

.movie-title{
    display: flex;
    gap: 10px;
    align-items: center;
}
.movie-rating {
    color: #FFC000	;
}
.add-to-watchlist-btn , .remove-from-watchlist-btn {
    background-color: #2C2C2C;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.add-to-watchlist-btn:hover , .remove-from-watchlist-btn:hover {
    background-color: #FFC000;
    color: #000;
}
